/* ===================================================================================================== */
/* Circle Img profile rotation                                                                           */
/* ===================================================================================================== */
.user__animated-container {
  position: relative;
  display: flex;
  vertical-align: middle !important;
  justify-content: center !important;
}

.user__animated-circle {
  z-index: -1;
  width: 162px;
  height: 162px;
  margin-top: -191px;
  margin-left: 0.5px !important;
  border-radius: 50%;
  box-shadow: 0 3px 10px 1px var(--avatar-shadow);
  vertical-align: middle !important;
  justify-content: center !important;
  //background-image:linear-gradient(rgba(168, 236, 255, 1), rgba(29, 96, 240, 1))!important;
  background-image: linear-gradient(rgba(168, 236, 255, 1), rgb(0, 255, 0), rgba(29, 96, 240, 1)) !important;
  animation: rotate 10s linear infinite;
  opacity: 0.8;
}

.user__animated-circle>div {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: var(--circle-color);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.user__animated-circle:hover {
  z-index: 999;
  width: 170px;
  height: 170px;
}

.user__animated-circle>div:hover {
  z-index: 999;
  transform: scale(1.1);
  width: 165px;
  height: 165px;
  background: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(180deg)
  }

  75% {
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* ===================================================================================================== */
/* Flip text animation                                                                                   */
/* ===================================================================================================== */
.flip-text-container {
  display: flex;
  text-align: center;
  justify-content: center !important;
  width: 100%;
  margin: 0px;
}

.flip-text {
  padding: 5px 0px;
  height: 30px;
  margin-left: 47.5px;
  overflow: hidden;
}

.flip-text>div>div {
  display: inline-block;
  color: var(--text-color);
  height: 30px;
  margin-bottom: 27px;
}

.dark .flip-text>div>div {
  color: var(--dark-text-color);
}

.flip-text div:first-child {
  animation: show 20s linear infinite;
}

/*
  .flip-text div div {
    background:#42c58a;
  }
  .flip-text div:first-child div {
    background:#4ec7f3;
  }
  .flip-text div:last-child div {
    background:#DC143C;
  }
  */
@keyframes show {
  0% {
    margin-top: -350px;
  }

  10% {
    margin-top: -300px;
  }

  20% {
    margin-top: -250px;
  }

  30% {
    margin-top: -200px;
  }

  40% {
    margin-top: -150px;
  }

  50% {
    margin-top: -100px;
  }

  60% {
    margin-top: -50px;
  }

  70% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -350px;
  }
}

/* ===================================================================================================== */
/* Heart animation                                                                                       */
/* ===================================================================================================== */

#heart {
  position: relative;
  width: 18px;
  height: 18px;
  animation: heartbeat 1s infinite;
  margin: 0 auto
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: var(--heart-color-bg);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}



@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

/* ===================================================================================================== */
/* Progressive animation                                                                                 */
/* ===================================================================================================== */

.appear-animation {
  &:nth-child(1) {
    animation: appear 1s ease 0s 1 normal;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(2) {
    animation: appear 2s ease 2s 1 normal;
    -webkit-animation: appear 2s ease 1s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(3) {
    animation: appear 3s ease 4s 1 normal;
    -webkit-animation: appear 3s ease 2s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(4) {
    animation: appear 4s ease 6s 1 normal;
    -webkit-animation: appear 4s ease 3s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(5) {
    animation: appear 5s ease 8s 1 normal;
    -webkit-animation: appear 5s ease 4s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(6) {
    animation: appear 6s ease 10s 1 normal;
    -webkit-animation: appear 6s ease 5s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(7) {
    animation: appear 7s ease 12s 1 normal;
    -webkit-animation: appear 7s ease 6s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(8) {
    animation: appear 8s ease 14s 1 normal;
    -webkit-animation: appear 8s ease 7s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(9) {
    animation: appear 9s ease 16s 1 normal;
    -webkit-animation: appear 9s ease 8s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &:nth-child(10) {
    animation: appear 10s ease 18s 1 normal;
    -webkit-animation: appear 10s ease 9s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.animation-fadeinup {
  opacity: 0;
}

.fadeinup {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* appear */
@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* ===================================================================================================== */
/* Typing text animation                                                                                 */
/* ===================================================================================================== */

.typing-text-container {
  display: flex;
  position: absolute !important;
  text-align: center !important;
  justify-content: center !important;
  width: 28em !important;
  margin: 0px;
  margin-top: -23.5px;
  margin-left: 25px !important;
  font-weight: 500;
}

.styles_type__2Teeh {
  position: absolute !important;
  display: flex;
  text-align: center !important;
  justify-content: center !important;
}

.icon-typing {
  display: flex;
  width: 18px !important;
  height: 18px !important;
  margin-left: -202px !important;
}



/* ===================================================================================================== */
/* Waves particules animation                                                                            */
/* ===================================================================================================== */

::selection {
  background-color: salmon;
  color: white;
}

.parallax {
  & use {
    animation: move-forever 12s linear infinite;
  }

  & use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 12s;
    opacity: 0.6;
  }

  & use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 14s;
    opacity: 0.8;
  }

  & use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 16s;
  }

  & use:nth-child(4) {
    animation-delay: -2s;
    animation-duration: 10s;
    opacity: 0.4;
  }
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

.editorial {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 50em) {
  .editorial {
    height: 17vw;
  }
}

/* Particules */
.particules-container {
  top: 0;
}

.particles {
  z-index: 0;
  position: absolute;
  top: -100px;
  left: 10px;
  right: 10px;
  height: 100%;
  max-height: 350px !important;

  .particle {
    position: absolute;
    opacity: 0.8;
    background: var(--particules-animation-bg);
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;

    &:nth-child(1) {
      height: 15px;
      width: 15px;
      border-radius: 100%;
      -webkit-animation: floating 28s linear;
      animation: floating 28s linear;
      top: 65%;
      left: 10%;
    }

    &:nth-child(2) {
      height: 12px;
      width: 12px;
      border-radius: 100%;
      -webkit-animation: floating 35s linear;
      animation: floating 35s linear;
      top: 15%;
      left: 33%;
    }

    &:nth-child(25),
    &:nth-child(3) {
      animation: floating 28s linear;
      border-radius: 100%;
    }

    &:nth-child(3) {
      height: 21px;
      width: 21px;
      animation: floating 28s linear;
      top: 48%;
      left: 36%;
    }

    &:nth-child(4) {
      height: 16px;
      width: 16px;
      border-radius: 100%;
      -webkit-animation: floating 25s linear;
      animation: floating 25s linear;
      top: 85%;
      left: 75%;
    }

    &:nth-child(5) {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      -webkit-animation: floating 32s linear;
      animation: floating 32s linear;
      top: 36%;
      left: 78%;
    }

    &:nth-child(6) {
      height: 22px;
      width: 22px;
      border-radius: 100%;
      -webkit-animation: floating 23s linear;
      animation: floating 23s linear;
      top: 87%;
      left: 18%;
    }

    &:nth-child(7) {
      height: 16px;
      width: 16px;
      border-radius: 100%;
      -webkit-animation: floating 36s linear;
      animation: floating 36s linear;
      top: 63%;
      left: 78%;
    }

    &:nth-child(8) {
      height: 17px;
      width: 17px;
      border-radius: 100%;
      -webkit-animation: floating 27s linear;
      animation: floating 27s linear;
      top: 35%;
      left: 76%;
    }

    &:nth-child(9) {
      height: 15px;
      width: 15px;
      border-radius: 100%;
      -webkit-animation: floating 31s linear;
      animation: floating 31s linear;
      top: 20%;
      left: 70%;
    }

    &:nth-child(10) {
      height: 13px;
      width: 13px;
      border-radius: 100%;
      -webkit-animation: floating 32s linear;
      animation: floating 32s linear;
      top: 42%;
      left: 23%;
    }

    &:nth-child(11) {
      height: 14px;
      width: 14px;
      border-radius: 100%;
      -webkit-animation: floating 30s linear;
      animation: floating 30s linear;
      top: 62%;
      left: 17%;
    }

    &:nth-child(12) {
      height: 13px;
      width: 13px;
      border-radius: 100%;
      -webkit-animation: floating 29s linear;
      animation: floating 29s linear;
      top: 9%;
      left: 63%;
    }

    &:nth-child(13) {
      height: 14px;
      width: 14px;
      border-radius: 100%;
      -webkit-animation: floating 21s linear;
      animation: floating 21s linear;
      top: 14%;
      left: 30%;
    }

    &:nth-child(14) {
      height: 11px;
      width: 11px;
      border-radius: 100%;
      -webkit-animation: floating 34s linear;
      animation: floating 34s linear;
      top: 29%;
      left: 33%;
    }

    &:nth-child(15) {
      height: 17px;
      width: 17px;
      border-radius: 100%;
      -webkit-animation: floating 23s linear;
      animation: floating 23s linear;
      top: 68%;
      left: 31%;
    }

    &:nth-child(16) {
      height: 18px;
      width: 18px;
      border-radius: 100%;
      -webkit-animation: floating 21s linear;
      animation: floating 21s linear;
      top: 29%;
      left: 57%;
    }

    &:nth-child(17) {
      height: 18px;
      width: 18px;
      border-radius: 100%;
      -webkit-animation: floating 32s linear;
      animation: floating 32s linear;
      top: 49%;
      left: 21%;
    }

    &:nth-child(18) {
      height: 7px;
      width: 7px;
      border-radius: 100%;
      -webkit-animation: floating 37s linear;
      animation: floating 37s linear;
      top: 35%;
      left: 94%;
    }

    &:nth-child(19) {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      -webkit-animation: floating 35s linear;
      animation: floating 35s linear;
      top: 42%;
      left: 33%;
    }

    &:nth-child(20) {
      height: 18px;
      width: 18px;
      border-radius: 100%;
      -webkit-animation: floating 35s linear;
      animation: floating 35s linear;
      top: 94%;
      left: 20%;
    }

    &:nth-child(21) {
      height: 24px;
      width: 24px;
      border-radius: 100%;
      -webkit-animation: floating 37s linear;
      animation: floating 37s linear;
      top: 7%;
      left: 23%;
    }

    &:nth-child(22) {
      height: 24px;
      width: 24px;
      border-radius: 100%;
      -webkit-animation: floating 34s linear;
      animation: floating 34s linear;
      top: 49%;
      left: 33%;
    }

    &:nth-child(23) {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      -webkit-animation: floating 29s linear;
      animation: floating 29s linear;
      top: 82%;
      left: 58%;
    }

    &:nth-child(24) {
      height: 14px;
      width: 14px;
      border-radius: 100%;
      -webkit-animation: floating 32s linear;
      animation: floating 32s linear;
      top: 60%;
      left: 90%;
    }

    &:nth-child(25) {
      height: 25px;
      width: 25px;
      animation: floating 28s linear;
      top: 53%;
      left: 85%;
    }

    &:nth-child(26) {
      height: 23px;
      width: 23px;
      border-radius: 100%;
      -webkit-animation: floating 28s linear;
      animation: floating 28s linear;
      top: 63%;
      left: 94%;
    }
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }

  5% {
    opacity: 0.1;
  }

  50% {
    -webkit-transform: translate(0, -250px) scale(1.4);
    transform: translate(0, -250px) scale(1.4);
  }

  95% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, -500px) scale(0.5);
    transform: translate(0, -500px) scale(0.5);
  }
}