.dark {
    color: var(--dark-text-color);
    background: linear-gradient(0deg, var(--dark-body-bg-color) 0%, var(--dark-body-bg-color-02) 100%);

    h1,
    h2,
    h3 {
        color: var(--dark-title-color);
    }

    a {
        &:hover {
            color: var(--dark-link-active-color) !important;
        }
    }

    p.profil__text {
        padding: 0rem 2rem 2rem 2rem !important;
    }

    p.author {
        color: var(--dark-text-color)
    }

    button {
        color: var(--dark-text-color);
    }

    .circle {
        background-color: var(--dark-circle-color);
        box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
    }

    .circle-plain {
        background-color: var(--dark-circle-color-plain);
        box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
    }

    .sidebar {
        background-color: var(--dark-sidebar-bg-color);
        border-right: 1px solid var(--dark-sidebar-border-color);

        &::before {
            background-color: var(--dark-sidebar-bg-color-before);
        }
    }

    .grid__location {
        //copy in _grid.scss
        color: var(--dark-text-color);
    }

    .user__avatar {
        box-shadow: 0 3px 10px 1px var(--dark-avatar-shadow);
    }

    .particles {
        .particle {
            background: var(--dark-particules-animation-bg);
        }
    }

    .user__infos {
        a:hover {
            color: var(--dark-link-active-color);
        }
    }

    .user__info,
    .user__job {
        svg {
            color: var(--dark-icon-color) !important;
        }
    }

    .interests {
        svg {
            color: var(--dark-icon-color);
        }
    }

    .profil {
        background-image: linear-gradient(90deg, var(--dark-body-profil-bg) 0%, var(--dark-body-profil-bg-02) 35%);
    }

    .cursus {
        background-image: linear-gradient(90deg, var(--dark-body-cursus-bg) 0%, var(--dark-body-cursus-bg-02) 35%);
    }

    .experiences {
        background-image: linear-gradient(90deg, var(--dark-body-experiences-bg) 0%, var(--dark-body-experiences-bg-02) 35%);
    }

    .title-banner {
        box-shadow: 0 5px 15px var(--title-dark-banner-shadow);
    }

    .copyright {
        font-size: var(--footer-font-size);
        color: var(--dark-copyright-text);
    }

    .update-date {
        color: var(--dark-text-color);
    }

    .underline {
        border-bottom: 1px solid var(--dark-underline-color);
    }

    /* Icon Styles*/

    .icon .fa,
    .icon {
        color: var(--dark-icon-color) !important;
        -webkit-box-shadow: 1px 1px 3px var(--icon-shadow);
        -moz-box-shadow: 1px 1px 3px var(--icon-shadow);
        box-shadow: 1px 1px 3px var(--icon-shadow);

        &:hover,
        &:active,
        &:hover,
        &:active {
            color: var(--dark-icon-color-hover);
            cursor: pointer;
        }
    }

    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
    .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
    .css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
        color: var(--dark-text-color) !important;
        border-color: var(--dark-text-color) !important;
    }
}