/* Print theme styles -> pdf A4  */
#cv-print {
  width: 100% !important;
}

.cv-print {
  p {
    margin-top: var(--spacing-0px) !important;
    margin-bottom: var(--spacing-8px);
    font-size: var(--p-print-font-size);
    padding: 0rem 0.25rem 0rem 0.25rem !important;

    .print__job-title {
      padding-left: var(--spacing-16px-neg) !important;
      margin-left: var(--spacing-16px-neg) !important;
    }
  }

  .date {
    justify-content: flex-end !important;
  }

  p.update-date {
    font-size: var(--p-print-update-date-font-size);
    margin-top: -20px !important;
    margin-right: var(--spacing-8px);
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 5px !important;
    font-weight: 500;
    color: var(--title-color);
  }

  h1 {
    margin-top: -7%;
    margin-left: -5%;
    font-size: var(--h1-cv-print-font-size);
    text-transform: uppercase;
  }

  h2,
  h2.h2 {
    margin-bottom: var(--spacing-0px) !important;
    font-size: var(--h2-cv-print-font-size);
    text-transform: uppercase;
    padding-left: var(--spacing-6-5px) !important;
    padding-top: var(--spacing-2) !important;
    margin-top: var(--spacing-17px) !important;
  }

  h3 {
    font-size: var(--h3-cv-print-font-size);
  }

  .grid__title {
    margin-top: var(--spacing-4px-neg) !important;
    margin-bottom: var(--spacing-0px) !important;
  }

  .grid__technologies {
    display: none !important;
  }

  .grid__print-url {
    display: block !important;
    font-size: var(--li-print-url-font-size);
    color: var(--grid-print-url-font-color);
    margin-top: 0px !important;
    margin-left: 15px !important;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-bottom: var(--spacing-8px) !important;
  }

  li.grid__mission {
    font-size: var(--p-print-font-size);
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding-left: 5px !important;
  }

  li.grid__mission:nth-child(6),
  li.grid__mission:nth-child(7),
  li.grid__mission:nth-child(8),
  li.grid__mission:nth-child(9),
  li.grid__mission:nth-child(10) {
    display: none !important;
    list-style: none !important;
  }

  .grid__container {
    font-size: var(--cv-print-font-size) !important;
    padding: var(--spacing-6-5px);
    padding-left: var(--spacing-20px) !important;
    max-width: 250mm;
  }

  .sidebar {
    height: 297mm;
    width: 230px;
  }

  .user__infos svg,
  .actions svg,
  .sidebar-header {
    display: none !important;
  }

  .user {
    .avatar-container {
      margin-top: var(--spacing-30px) !important;

      .user__avatar {
        width: 159px;
        height: 159px;
        border-radius: 50%;
        box-shadow: 0 3px 10px 1px var(--avatar-shadow);
        vertical-align: middle;
        justify-content: center;
        margin-bottom: 0px !important;
      }
    }

    .user__animated-container {
      margin-top: 31px !important;
      margin-left: -12px !important;
    }

    .user__job,
    .user__name {
      margin-top: var(--spacing-24px-neg) !important;
      margin-left: var(--spacing-8px-neg) !important;
    }

    .user__job {
      margin-top: var(--spacing-8px-neg) !important;
      margin-left: var(--spacing-16px-neg) !important;
    }

    .user__cv_url {
      display: block !important;
    }
  }

  .user__avatar {
    margin-left: -1.5rem;
  }

  .circle {
    margin-top: 8.5px;
    width: 10px;
    height: 10px;
    margin-left: -5%;
  }

  .skill__rating {
    margin-left: 62% !important;
    padding-top: 5px !important;
  }

  span.skill__title {
    margin-left: var(--spacing-8px) !important;
  }

  .animation-fadeinup,
  .appear-animation .fadeinup {
    opacity: 1 !important;
    animation: none !important;
  }

  .interests li {
    display: block;
    padding: var(--spacing-0px);
  }

  .interests li svg {
    font-size: var(--svg-font-size);
    height: var(--spacing-15px);
  }

  .interests_ {
    min-height: 250px !important;
  }

  .interests .interests__list {
    margin-bottom: var(--spacing-0px) !important;
  }

  .interests__text {
    font-size: var(--p-print-font-size) !important;
    margin-top: var(--spacing-20px) !important;
  }

  .skill .progress,
  .skill .progress__limit,
  .skill .progress__wrap,
  .skill .progress__wrap .progress__bar {
    visibility: hidden;
  }

  .skills__lang,
  h2.h2 {
    font-size: var(--cv-print-font-size) !important;
    margin-bottom: var(--spacing-20px) !important;
    padding-left: var(--spacing-1) !important;
  }

  h2.h2 {
    margin-bottom: var(--spacing-20px) !important;
  }

  .profil h2,
  .experiences h2,
  .cursus h2 {
    padding-left: 2.5rem;
    padding: 0 !important;
    margin: 10px 0px 10px 15px !important;
    box-shadow: 0px 8px 8px -9px var(--print-profil-container-shadow) !important;
  }

  .skills__lang {
    margin-top: var(--spacing-20px) !important;
  }

  .profil,
  .cursus,
  .experiences,
  .grid__row {
    background: transparent !important;
    margin-bottom: var(--spacing-0px);
    margin-left: var(--spacing-6-5px) !important;
  }

  .cursus,
  .experiences {
    padding-top: 15px !important;
  }

  .skill__text {
    padding-left: var(--spacing-0px) !important;
    padding-top: var(--spacing-8px) !important;
  }

  .skill {
    padding-bottom: 0px !important;
  }

  .grid__row {
    margin-top: 0px;
  }

  p.profil__text {
    padding: 0rem 0.5rem 1rem 1rem !important;
    line-height: var(--spacing-17px);
  }

  .sidebar {
    padding: var(--spacing-8px) !important;
  }

  .margin-bottom-3 {
    margin-bottom: var(--spacing-6-5px);
  }

  .typing-text-container {
    margin-top: var(--spacing-8px) !important;
    justify-content: flex-start !important;
    margin-left: -15px !important;
  }

  .footer {
    justify-content: flex-start !important;
    margin-top: -80px !important;
    padding-left: var(--spacing-8px) !important;

    .copyright {
      padding-left: var(--spacing-1) !important;
      font-size: var(--print-footer-font-size);
      color: var(--copyright-text);

      .author {
        font-size: var(--print-footer-author-font-size);
        align-items: center;
      }
    }

    #react {
      vertical-align: middle !important;
      color: var(--react-color-bg);
      height: 12px !important;
      width: 12px !important;
      animation: none !important;
    }

    .print-made-end-hide {
      visibility: hidden !important;
    }

    .print-made-with {
      padding-left: var(--spacing-0px) !important;
    }

    .print-made-by {
      padding-left: var(--spacing-8px) !important;
    }
  }

  .user__job,
  .sidebar::before,
  .MuiSvgIcon-root,
  .user__linkedIn,
  .user__gitLab {
    display: none !important;
    visibility: hidden !important;
  }

  .print-hide {
    opacity: 0 !important;
  }

  .print-show {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-flex !important;
  }

  .grid__date,
  .grid__location {
    font-size: var(--date-cv-print-font-size) !important;
    padding-left: var(--spacing-4px) !important;
    padding-top: var(--spacing-3px) !important;
  }

  .user__animated-container {
    margin-left: -11.5px !important;
    margin-top: 0.5px !important;
  }

  .circle {
    background-color: white !important;
  }

  .circle-plain {
    background-color: var(--circle-color-plain) !important;
  }

  .skills_column_two {
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: -355px !important;
    padding-top: 5px;
    padding-left: 0px !important;
  }
}