/* Responsive grids */

@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .grid__row {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    margin: 0;
  }

  .user__avatar {
    margin-top: var(--spacing-1-3);
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .grid__container {
    grid-template-columns: 2.5fr 3fr !important;
  }
}

@media screen and (min-width: 1024px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .grid__row {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    margin: 0;
  }
}

@media screen and (min-width: 2560px) {
  .user__avatar {
    margin-top: var(--spacing-0);
  }

  .styles_type__2Teeh {
    margin-left: var(--spacing-160px) !important;
  }
}

@media screen and (min-width: 200px) and (max-width: 425px) {
  .sidebar {
    &::before {
      height: 240px;
    }
  }

  .sidebar-header {
    margin-top: var(--spacing-8px-neg);
  }

  .user {
    .user__avatar {
      margin-top: var(--spacing-1);
      width: 150px;
      height: 150px;
    }
  }

  h1 {
    font-size: var(--h1-mobile-font-size) !important;
  }

  .styles_type__2Teeh {
    font-size: var(--h2-mobile-font-size) !important;
  }

  h2,
  .skills__h2 {
    margin-bottom: var(--spacing-20px);
    font-size: var(--h2-mobile-font-size) !important;
    letter-spacing: 1.5px;
  }

  h3 {
    font-size: var(--h3-mobile-font-size);
  }

  h4 {
    font-size: var(--h4-mobile-font-size);
  }

  .main {
    padding: var(--spacing-8px);
    margin-left: -3%;
  }

  .user__job {
    svg {
      margin-left: -162px !important;
    }
  }

  .skills {
    .skill__text {
      z-index: 1;
      vertical-align: middle;

      .skill__title {
        font-size: var(--skill-title-mobile-font-size) !important;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .skills_column_two {
    padding-top: 0px !important;
  }
}