:root {
    /* Helpers */
    --spacing-36px-neg: -2.25rem;
    --spacing-27px-neg: -1.7rem;
    --spacing-24px-neg: -1.5rem;
    --spacing-16px-neg: -1rem;
    --spacing-8px-neg: -0.5rem;
    --spacing-4px-neg: -0.25rem;
    --spacing-0px: 0rem;
    --spacing-3px: 0.20rem;
    --spacing-4px: 0.25rem;
    --spacing-8px: 0.5rem;
    --spacing-6-5px: .406rem;
    --spacing-2: .8rem;
    --spacing-1: 1rem;
    --spacing-1-3: 1.3rem;
    --spacing-1-5: 1.5rem;
    --spacing-10px: 0, 625rem;
    --spacing-17px: 1.063rem;
    --spacing-20px: 1.25rem;
    --spacing-30px: 1, 875;
    --spacing-45px: 2.813rem;
    --spacing-80px: 2rem;
    --spacing-15px: .938rem;
    --spacing-160px: 10rem;

    /* Default Theme colors */
    --body-bg-color: white;
    --body-bg-color-02: rgba(255, 252, 255, 0.8);
    --sidebar-bg-color: white;
    --sidebar-bg-color-before: rgba(0, 0, 0, 0.05);
    --sidebar-border-color: rgba(230, 230, 230, 0.6);
    --body-experiences-bg: rgba(213, 254, 253, 0.6);
    --body-experiences-bg-02: rgba(255, 252, 255, 0.8);
    --body-cursus-bg: rgba(213, 254, 253, 0.6);
    --body-cursus-bg-02: rgba(255, 252, 255, 0.8);
    --body-profil-bg: rgba(213, 254, 253, 0.6);
    --body-profil-bg-02: rgba(255, 252, 255, 0.8);
    --heart-color-bg: #e31b23;
    --react-color-bg: #1f94c2;
    --text-color: #333;
    --link-active-color: #1f94c2;
    --title-color: #111;
    --underline-color: rgba(85, 85, 85, 0.6);
    --dark-underline-color: rgba(213, 254, 253, 0.6);
    --svg-hover-color: rgba(17, 17, 17, 0.6);
    --copyright-text: rgba(85, 85, 85, 1);
    --date-color: #1f94c2;
    --particules-animation-bg: rgba(0, 0, 0, 0.7);
    --icon-color: var(--text-color);
    --icon-color-hover: rgba(85, 85, 85, 0.6);
    --circle-color: rgba(195, 195, 195, 0.9);
    --circle-color-plain: rgba(85, 85, 85, 0.6);
    --progress-bar-color: rgba(255, 255, 255, 0.4);
    --progress-bar-wrap-color: rgba(85, 85, 85, 0.3);
    --color-ice: rgba(48, 138, 255, 1);
    --color-ice-dark: rgba(29, 96, 240, 1);
    --grid-tech-font-color: rgba(0, 191, 255, 1);
    --print-grid-tech-font-color: rgba(255, 255, 255, 0.4);
    --grid-print-url-font-color: rgba(0, 0, 0, 0.8);

    /* Fonts */
    --body-font: "Roboto", "sans-serif";
    --h1-font-size: 1.25rem;
    --h1-mobile-font-size: 1rem;
    --h2-font-size: 1rem;
    --h2-mobile-font-size: 0.9rem;
    --h3-font-size: 0.9rem;
    --h3-mobile-font-size: 0.9rem;
    --h4-font-size: 0.85rem;
    --h4-mobile-font-size: 0.8rem;
    --p-font-size: 0.9rem;
    --li-font-size: 0.85rem;
    --li-tech-font-size: 0.7rem;
    --li-print-url-font-size: 0.7rem;
    --footer-font-size: 1rem;
    --footer-author-font-size: 0.75rem;
    --svg-font-size: 2rem;
    --skill-title-font-size: 0.7rem;
    --skill-title-mobile-font-size: 0.7rem;
    --location-text-size: 0.7rem;
    --interests-text-size: 0.95rem;
    --date-cv-font-size: 0.7rem;
    --date-text-font-size: 0.65rem;

    /* Icons size*/
    --bg-icon-size: 1.5rem;
    /* Icons small size*/
    --bg-icon-small-size: 1rem;

    /* Default Theme shadows */
    --avatar-shadow: rgba(46, 22, 22, 0.46);
    --profil-container-shadow: rgba(46, 22, 22, 0.46);
    --cursus-container-shadow: rgba(46, 22, 22, 0.46);
    --experiences-container-shadow: rgba(46, 22, 22, 0.46);
    --skills-rating-shadow: rgba(0, 0, 0, 0.3), inset 0 5px 5px rgba(0, 0, 0, 0.46);
    --title-banner-shadow: rgba(0, 0, 0, .05);
    --title-dark-banner-shadow: rgba(255, 255, 255, .05);
    --icon-shadow: rgba(195, 195, 195, 0.46);
    --icon-shadow-hover: rgba(0, 0, 0, .5);

    /* Dark Theme */
    --dark-icon-color: var(--dark-text-color);
    --dark-circle-color: #555;
    --dark-circle-color-plain: white;
    --dark-sidebar-bg-color-before: rgba(255, 255, 255, .05);
    --dark-body-profil-bg: rgba(20, 30, 48, 0.4);
    --dark-body-profil-bg-02: rgba(36, 59, 85, 0.4);
    --dark-body-experiences-bg: rgba(20, 30, 48, 0.4);
    --dark-body-experiences-bg-02: rgba(36, 59, 85, 0.4);
    --dark-body-cursus-bg: rgba(20, 30, 48, 0.4);
    --dark-body-cursus-bg-02: rgba(36, 59, 85, 0.4);
    --dark-sidebar-border-color: #242424;
    --dark-body-bg-color: rgba(20, 30, 48, 1);
    --dark-body-bg-color-02: rgba(36, 59, 85, 1);
    --dark-sidebar-bg-color: #1f253d;
    --dark-text-color: #d8d8d8;
    --dark-link-active-color: white;
    --dark-title-color: white;
    --dark-date-color: white;
    --dark-copyright-text: #d8d8d8;
    --dark-particules-animation-bg: rgba(255, 255, 255, 0.8);
    --dark-icon-color: rgba(255, 255, 255, 0.6);
    --dark-icon-color-hover: rgba(255, 255, 255, 0.8);
    /*  Dark Theme shadows */
    --dark-avatar-shadow: rgba(195, 195, 195, 0.46);
    --dark-profil-container-shadow: rgba(195, 195, 195, 0.46);
    --dark-cursus-container-shadow: rgba(195, 195, 195, 0.46);
    --dark-experiences-container-shadow: rgba(195, 195, 195, 0.46);
    --dark-skills-rating-shadow: rgba(195, 195, 195, 0.3), inset 0 5px 5px rgba(195, 195, 195, 0.46);

    /* Print Theme */
    --p-print-font-size: 0.7rem;
    --h1-cv-print-font-size: 0.8rem;
    --h2-cv-print-font-size: 0.85rem;
    --h3-cv-print-font-size: 0.7rem;
    --h4-cv-print-font-size: 0.7rem;
    --cv-print-font-size: 0.7rem;
    --p-print-update-date-font-size: 0.6rem;
    --print-tech-font-size: 0.65rem;
    --print-profil-container-shadow: transparent;
    --print-footer-font-size: 0.6rem;
    --print-footer-author-font-size: 0.6rem;
    --date-cv-print-font-size: 0.6rem;
}