/*
Project Name: CV
Description: CV Blas Pierre-Gérard
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
GitLab page: https://pgb_oc.gitlab.io/cv-pgBlas/
Server: nodejs localhost:3000
Methodology: BEM + variables + SASS
Tags: cv, reactjs, web api
Creation date: 27/01/2022
Last modification: 10/09/2022
 
  ---------------------------
  MAIN STYLES
  ---------------------------
  
  TABLE OF CONTENTS
  ---------------------------
   01. Global styles
   02. Layouts
   03. Utils
   04. Animations
   05. Responsive rules
   06. Dark theme
   07. Print theme
   08. Components
*/

@import "mixins.scss";

/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */
@import "fonts.scss";
@import "variables.scss";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    max-width: 100% !important;
}

/* Debug css overflow*/
/*
html * {
    border: 1px solid red;
}*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 999;
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--text-color);
    background: linear-gradient(315deg, var(--body-bg-color) 0%, var(--body-bg-color-02) 100%);
}

a {
    transition: all .3s ease-in-out;
    outline: none !important;
    text-decoration: none;

    :hover>& {
        color: var(--link-active-color);
        text-decoration: none;
        cursor: pointer;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: var(--title-color);
    transition: all .3s ease-in-out;
}

h1 {
    margin-top: var(--spacing-20px);
    font-size: var(--h1-font-size);
    text-transform: uppercase;
}

h2 {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-1);
    font-size: var(--h2-font-size);
    letter-spacing: 2.5px;
    text-transform: uppercase;

    .title-banner {
        height: 100vh;
        min-height: 30px;
        max-height: 50px;
        width: 100%;
        box-shadow: 0 5px 15px var(--title-banner-shadow);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

h3 {
    font-size: var(--h3-font-size);
}

p {
    transition: all .3s ease-in-out;
    margin-bottom: var(--spacing-2);
    font-size: var(--p-font-size);
}

span {
    transition: all .3s ease-in-out;
}

ul {
    padding-left: var(--spacing-1-3);
    padding-bottom: var(--spacing-0px);
    list-style-type: none;
}

li {
    margin-bottom: var(--spacing-2);
    list-style-type: none !important;
    list-style-position: outside !important;
}

.main {
    padding: 1.5rem;
}

/* ===================================================================================================== */
/* 02. Layouts                                                                                           */
/* ===================================================================================================== */

/* Sidebar */

.sidebar {
    position: relative;
    padding: 1.5rem;
    background-color: var(--sidebar-bg-color);
    border-right: 1px solid var(--sidebar-border-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow: hidden;

    &::before {
        z-index: 0;
        position: absolute;
        content: '';
        display: block;
        min-width: 115%;
        height: 270px;
        background-color: var(--sidebar-bg-color-before);
        margin-left: -8%;
        transform: rotate(-2deg);
        margin-top: -11%;
        left: 6.5%;
    }

    .sidebar-header {
        z-index: 10 !important;
        display: flex;
        position: relative;
        height: 30px;

        .social-icons,
        .social {
            display: flex !important;
            flex-direction: column !important;
        }

        .social-icons {
            margin-top: 15px;
            flex-direction: column !important;
        }

        .actions,
        .social {
            display: flex;
            position: relative;
            margin-top: -15px;
            padding-top: var(--spacing-8px);
            flex-direction: column !important;

            svg {
                font-size: var(--svg-font-size);
                margin-right: var(--spacing-15px);
                margin-bottom: var(--spacing-15px);
            }
        }
    }
}

.media-show {
    opacity: 1 !important;
}

.media-hide {
    opacity: 0 !important;
}

/* ===================================================================================================== */
/* 03. Utils                                                                                             */
/* ===================================================================================================== */

.date {
    display: flex;
    justify-content: center;
    width: 100%;
}

.update-date {
    font-size: var(--date-text-font-size);
    color: var(--text-color);
    margin-top: var(--spacing-8px-neg);
}

.underline {
    display: flex;
    position: absolute;
    width: 45px;
    border-bottom: 1px solid var(--underline-color);
    margin-right: 0px;
    margin-top: 22px;
}

/*
.underline::after {
    content: "_";
    margin-top: -12px;
}*/

/* ===================================================================================================== */
/* 04. Animations                                                                                        */
/* ===================================================================================================== */
@import "animations.scss";

/* ===================================================================================================== */
/* 05. Responsive rules                                                                                  */
/* ===================================================================================================== */
@import "responsive.scss";

/* ===================================================================================================== */
/* 06. Dark theme                                                                                        */
/* ===================================================================================================== */
@import "darktheme.scss";

/* ===================================================================================================== */
/* 07. Print theme                                                                                        */
/* ===================================================================================================== */
@import "printtheme.scss";

/* ===================================================================================================== */
/* 08. Components                                                                                        */
/* ===================================================================================================== */
/* Formations section */
@import "./components/formations.scss";
/* User section */
@import "./components/user.scss";
/* Skills section */
@import "./components/skills.scss";
/* Interests section */
@import "./components/interests.scss";
/* Footer section */
@import "./components/footer.scss";
/* Buttons section */
@import "./components/buttons.scss";
/* Icons */
@import "./components/icons.scss";
/* Languages */
@import "./components/languages.scss";