/* Responsive grid */
/* grids */
.grid__item,
.grid__item p,
.grid__item span {
  margin-top: var(--spacing-0px);
  margin-bottom: var(--spacing-0px);
  padding: 0rem 0.25rem 0.25rem 0rem !important;
}

.grid__date,
.grid__date p {
  font-weight: 500;
  padding-top: 3px;
  margin-right: var(--spacing-6-5px);
  font-size: var(--date-cv-font-size);
}

.grid__title {
  margin-bottom: var(--spacing-0px) !important;
}

.grid__print-url {
  display: none !important;
}

.grid__location {
  padding-top: 0px !important;
  margin-top: var(--spacing-6-5px);
  font-weight: 500;
  color: var(--text-color);
  font-size: var(--location-text-size);
}

.dark .grid__location {
  color: var(--dark-text-color);
}

.grid__mission {
  margin-bottom: var(--spacing-6-5px);
  margin-top: var(--spacing-8px) !important;
  font-size: var(--li-font-size);
}

/* grid margins */
.margin-bottom-3 {
  margin-bottom: var(--spacing-20px);
}

.margin-bottom-5 {
  margin-bottom: var(--spacing-80px);
}

.margin-left-3 {
  margin-left: var(--spacing-20px);
}

.grid__row {
  margin: var(--spacing-20px);
  margin-left: 5% !important;
}

.grid__missions {
  margin-bottom: var(--spacing-2);
}

.grid__technologies {
  font-size: var(--li-tech-font-size);
  color: var(--grid-tech-font-color);
  margin-top: 5px !important;
  margin-left: 15px !important;
}

.grid__certification {
  margin-bottom: var(--spacing-8px) !important;
}

/*# sourceMappingURL=app.css.map */
