.footer {
  display: flex;
  justify-content: center;
}
.footer svg {
  vertical-align: middle;
  color: var(--heart-color-bg);
  height: 30px !important;
  width: 30px !important;
}
.footer .copyright {
  font-size: var(--footer-font-size);
  color: var(--copyright-text);
}
.footer .copyright .author {
  font-size: var(--footer-author-font-size);
  align-items: center;
}
.footer #react {
  color: var(--react-color-bg);
  height: 18px !important;
  width: 18px !important;
}

/*# sourceMappingURL=footer.css.map */
