@charset "UTF-8";
/*
Project Name: CV
Description: CV Blas Pierre-Gérard
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
GitLab page: https://pgb_oc.gitlab.io/cv-pgBlas/
Server: nodejs localhost:3000
Methodology: BEM + variables + SASS
Tags: cv, reactjs, web api
Creation date: 27/01/2022
Last modification: 10/09/2022

  ---------------------------
  MAIN STYLES
  ---------------------------

  TABLE OF CONTENTS
  ---------------------------
   01. Global styles
   02. Layouts
   03. Utils
   04. Animations
   05. Responsive rules
   06. Dark theme
   07. Print theme
   08. Components
*/
/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300");
:root {
  /* Helpers */
  --spacing-36px-neg: -2.25rem;
  --spacing-27px-neg: -1.7rem;
  --spacing-24px-neg: -1.5rem;
  --spacing-16px-neg: -1rem;
  --spacing-8px-neg: -0.5rem;
  --spacing-4px-neg: -0.25rem;
  --spacing-0px: 0rem;
  --spacing-3px: 0.20rem;
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-6-5px: .406rem;
  --spacing-2: .8rem;
  --spacing-1: 1rem;
  --spacing-1-3: 1.3rem;
  --spacing-1-5: 1.5rem;
  --spacing-10px: 0, 625rem;
  --spacing-17px: 1.063rem;
  --spacing-20px: 1.25rem;
  --spacing-30px: 1, 875;
  --spacing-45px: 2.813rem;
  --spacing-80px: 2rem;
  --spacing-15px: .938rem;
  --spacing-160px: 10rem;
  /* Default Theme colors */
  --body-bg-color: white;
  --body-bg-color-02: rgba(255, 252, 255, 0.8);
  --sidebar-bg-color: white;
  --sidebar-bg-color-before: rgba(0, 0, 0, 0.05);
  --sidebar-border-color: rgba(230, 230, 230, 0.6);
  --body-experiences-bg: rgba(213, 254, 253, 0.6);
  --body-experiences-bg-02: rgba(255, 252, 255, 0.8);
  --body-cursus-bg: rgba(213, 254, 253, 0.6);
  --body-cursus-bg-02: rgba(255, 252, 255, 0.8);
  --body-profil-bg: rgba(213, 254, 253, 0.6);
  --body-profil-bg-02: rgba(255, 252, 255, 0.8);
  --heart-color-bg: #e31b23;
  --react-color-bg: #1f94c2;
  --text-color: #333;
  --link-active-color: #1f94c2;
  --title-color: #111;
  --underline-color: rgba(85, 85, 85, 0.6);
  --dark-underline-color: rgba(213, 254, 253, 0.6);
  --svg-hover-color: rgba(17, 17, 17, 0.6);
  --copyright-text: rgba(85, 85, 85, 1);
  --date-color: #1f94c2;
  --particules-animation-bg: rgba(0, 0, 0, 0.7);
  --icon-color: var(--text-color);
  --icon-color-hover: rgba(85, 85, 85, 0.6);
  --circle-color: rgba(195, 195, 195, 0.9);
  --circle-color-plain: rgba(85, 85, 85, 0.6);
  --progress-bar-color: rgba(255, 255, 255, 0.4);
  --progress-bar-wrap-color: rgba(85, 85, 85, 0.3);
  --color-ice: rgba(48, 138, 255, 1);
  --color-ice-dark: rgba(29, 96, 240, 1);
  --grid-tech-font-color: rgba(0, 191, 255, 1);
  --print-grid-tech-font-color: rgba(255, 255, 255, 0.4);
  --grid-print-url-font-color: rgba(0, 0, 0, 0.8);
  /* Fonts */
  --body-font: "Roboto", "sans-serif";
  --h1-font-size: 1.25rem;
  --h1-mobile-font-size: 1rem;
  --h2-font-size: 1rem;
  --h2-mobile-font-size: 0.9rem;
  --h3-font-size: 0.9rem;
  --h3-mobile-font-size: 0.9rem;
  --h4-font-size: 0.85rem;
  --h4-mobile-font-size: 0.8rem;
  --p-font-size: 0.9rem;
  --li-font-size: 0.85rem;
  --li-tech-font-size: 0.7rem;
  --li-print-url-font-size: 0.7rem;
  --footer-font-size: 1rem;
  --footer-author-font-size: 0.75rem;
  --svg-font-size: 2rem;
  --skill-title-font-size: 0.7rem;
  --skill-title-mobile-font-size: 0.7rem;
  --location-text-size: 0.7rem;
  --interests-text-size: 0.95rem;
  --date-cv-font-size: 0.7rem;
  --date-text-font-size: 0.65rem;
  /* Icons size*/
  --bg-icon-size: 1.5rem;
  /* Icons small size*/
  --bg-icon-small-size: 1rem;
  /* Default Theme shadows */
  --avatar-shadow: rgba(46, 22, 22, 0.46);
  --profil-container-shadow: rgba(46, 22, 22, 0.46);
  --cursus-container-shadow: rgba(46, 22, 22, 0.46);
  --experiences-container-shadow: rgba(46, 22, 22, 0.46);
  --skills-rating-shadow: rgba(0, 0, 0, 0.3), inset 0 5px 5px rgba(0, 0, 0, 0.46);
  --title-banner-shadow: rgba(0, 0, 0, .05);
  --title-dark-banner-shadow: rgba(255, 255, 255, .05);
  --icon-shadow: rgba(195, 195, 195, 0.46);
  --icon-shadow-hover: rgba(0, 0, 0, .5);
  /* Dark Theme */
  --dark-icon-color: var(--dark-text-color);
  --dark-circle-color: #555;
  --dark-circle-color-plain: white;
  --dark-sidebar-bg-color-before: rgba(255, 255, 255, .05);
  --dark-body-profil-bg: rgba(20, 30, 48, 0.4);
  --dark-body-profil-bg-02: rgba(36, 59, 85, 0.4);
  --dark-body-experiences-bg: rgba(20, 30, 48, 0.4);
  --dark-body-experiences-bg-02: rgba(36, 59, 85, 0.4);
  --dark-body-cursus-bg: rgba(20, 30, 48, 0.4);
  --dark-body-cursus-bg-02: rgba(36, 59, 85, 0.4);
  --dark-sidebar-border-color: #242424;
  --dark-body-bg-color: rgba(20, 30, 48, 1);
  --dark-body-bg-color-02: rgba(36, 59, 85, 1);
  --dark-sidebar-bg-color: #1f253d;
  --dark-text-color: #d8d8d8;
  --dark-link-active-color: white;
  --dark-title-color: white;
  --dark-date-color: white;
  --dark-copyright-text: #d8d8d8;
  --dark-particules-animation-bg: rgba(255, 255, 255, 0.8);
  --dark-icon-color: rgba(255, 255, 255, 0.6);
  --dark-icon-color-hover: rgba(255, 255, 255, 0.8);
  /*  Dark Theme shadows */
  --dark-avatar-shadow: rgba(195, 195, 195, 0.46);
  --dark-profil-container-shadow: rgba(195, 195, 195, 0.46);
  --dark-cursus-container-shadow: rgba(195, 195, 195, 0.46);
  --dark-experiences-container-shadow: rgba(195, 195, 195, 0.46);
  --dark-skills-rating-shadow: rgba(195, 195, 195, 0.3), inset 0 5px 5px rgba(195, 195, 195, 0.46);
  /* Print Theme */
  --p-print-font-size: 0.7rem;
  --h1-cv-print-font-size: 0.8rem;
  --h2-cv-print-font-size: 0.85rem;
  --h3-cv-print-font-size: 0.7rem;
  --h4-cv-print-font-size: 0.7rem;
  --cv-print-font-size: 0.7rem;
  --p-print-update-date-font-size: 0.6rem;
  --print-tech-font-size: 0.65rem;
  --print-profil-container-shadow: transparent;
  --print-footer-font-size: 0.6rem;
  --print-footer-author-font-size: 0.6rem;
  --date-cv-print-font-size: 0.6rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  max-width: 100% !important;
}

/* Debug css overflow*/
/*
html * {
    border: 1px solid red;
}*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text-color);
  background: linear-gradient(315deg, var(--body-bg-color) 0%, var(--body-bg-color-02) 100%);
}

a {
  transition: all 0.3s ease-in-out;
  outline: none !important;
  text-decoration: none;
}
:hover > a {
  color: var(--link-active-color);
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}

h1 {
  margin-top: var(--spacing-20px);
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-1);
  font-size: var(--h2-font-size);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
h2 .title-banner {
  height: 100vh;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
  box-shadow: 0 5px 15px var(--title-banner-shadow);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  transition: all 0.3s ease-in-out;
  margin-bottom: var(--spacing-2);
  font-size: var(--p-font-size);
}

span {
  transition: all 0.3s ease-in-out;
}

ul {
  padding-left: var(--spacing-1-3);
  padding-bottom: var(--spacing-0px);
  list-style-type: none;
}

li {
  margin-bottom: var(--spacing-2);
  list-style-type: none !important;
  list-style-position: outside !important;
}

.main {
  padding: 1.5rem;
}

/* ===================================================================================================== */
/* 02. Layouts                                                                                           */
/* ===================================================================================================== */
/* Sidebar */
.sidebar {
  position: relative;
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
  border-right: 1px solid var(--sidebar-border-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}
.sidebar::before {
  z-index: 0;
  position: absolute;
  content: "";
  display: block;
  min-width: 115%;
  height: 270px;
  background-color: var(--sidebar-bg-color-before);
  margin-left: -8%;
  transform: rotate(-2deg);
  margin-top: -11%;
  left: 6.5%;
}
.sidebar .sidebar-header {
  z-index: 10 !important;
  display: flex;
  position: relative;
  height: 30px;
}
.sidebar .sidebar-header .social-icons,
.sidebar .sidebar-header .social {
  display: flex !important;
  flex-direction: column !important;
}
.sidebar .sidebar-header .social-icons {
  margin-top: 15px;
  flex-direction: column !important;
}
.sidebar .sidebar-header .actions,
.sidebar .sidebar-header .social {
  display: flex;
  position: relative;
  margin-top: -15px;
  padding-top: var(--spacing-8px);
  flex-direction: column !important;
}
.sidebar .sidebar-header .actions svg,
.sidebar .sidebar-header .social svg {
  font-size: var(--svg-font-size);
  margin-right: var(--spacing-15px);
  margin-bottom: var(--spacing-15px);
}

.media-show {
  opacity: 1 !important;
}

.media-hide {
  opacity: 0 !important;
}

/* ===================================================================================================== */
/* 03. Utils                                                                                             */
/* ===================================================================================================== */
.date {
  display: flex;
  justify-content: center;
  width: 100%;
}

.update-date {
  font-size: var(--date-text-font-size);
  color: var(--text-color);
  margin-top: var(--spacing-8px-neg);
}

.underline {
  display: flex;
  position: absolute;
  width: 45px;
  border-bottom: 1px solid var(--underline-color);
  margin-right: 0px;
  margin-top: 22px;
}

/*
.underline::after {
    content: "_";
    margin-top: -12px;
}*/
/* ===================================================================================================== */
/* 04. Animations                                                                                        */
/* ===================================================================================================== */
/* ===================================================================================================== */
/* Circle Img profile rotation                                                                           */
/* ===================================================================================================== */
.user__animated-container {
  position: relative;
  display: flex;
  vertical-align: middle !important;
  justify-content: center !important;
}

.user__animated-circle {
  z-index: -1;
  width: 162px;
  height: 162px;
  margin-top: -191px;
  margin-left: 0.5px !important;
  border-radius: 50%;
  box-shadow: 0 3px 10px 1px var(--avatar-shadow);
  vertical-align: middle !important;
  justify-content: center !important;
  background-image: linear-gradient(#a8ecff, lime, #1d60f0) !important;
  animation: rotate 10s linear infinite;
  opacity: 0.8;
}

.user__animated-circle > div {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: var(--circle-color);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.user__animated-circle:hover {
  z-index: 999;
  width: 170px;
  height: 170px;
}

.user__animated-circle > div:hover {
  z-index: 999;
  transform: scale(1.1);
  width: 165px;
  height: 165px;
  background: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ===================================================================================================== */
/* Flip text animation                                                                                   */
/* ===================================================================================================== */
.flip-text-container {
  display: flex;
  text-align: center;
  justify-content: center !important;
  width: 100%;
  margin: 0px;
}

.flip-text {
  padding: 5px 0px;
  height: 30px;
  margin-left: 47.5px;
  overflow: hidden;
}

.flip-text > div > div {
  display: inline-block;
  color: var(--text-color);
  height: 30px;
  margin-bottom: 27px;
}

.dark .flip-text > div > div {
  color: var(--dark-text-color);
}

.flip-text div:first-child {
  animation: show 20s linear infinite;
}

/*
  .flip-text div div {
    background:#42c58a;
  }
  .flip-text div:first-child div {
    background:#4ec7f3;
  }
  .flip-text div:last-child div {
    background:#DC143C;
  }
  */
@keyframes show {
  0% {
    margin-top: -350px;
  }
  10% {
    margin-top: -300px;
  }
  20% {
    margin-top: -250px;
  }
  30% {
    margin-top: -200px;
  }
  40% {
    margin-top: -150px;
  }
  50% {
    margin-top: -100px;
  }
  60% {
    margin-top: -50px;
  }
  70% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -350px;
  }
}
/* ===================================================================================================== */
/* Heart animation                                                                                       */
/* ===================================================================================================== */
#heart {
  position: relative;
  width: 18px;
  height: 18px;
  animation: heartbeat 1s infinite;
  margin: 0 auto;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: var(--heart-color-bg);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
/* ===================================================================================================== */
/* Progressive animation                                                                                 */
/* ===================================================================================================== */
.appear-animation:nth-child(1) {
  animation: appear 1s ease 0s 1 normal;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(2) {
  animation: appear 2s ease 2s 1 normal;
  -webkit-animation: appear 2s ease 1s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(3) {
  animation: appear 3s ease 4s 1 normal;
  -webkit-animation: appear 3s ease 2s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(4) {
  animation: appear 4s ease 6s 1 normal;
  -webkit-animation: appear 4s ease 3s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(5) {
  animation: appear 5s ease 8s 1 normal;
  -webkit-animation: appear 5s ease 4s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(6) {
  animation: appear 6s ease 10s 1 normal;
  -webkit-animation: appear 6s ease 5s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(7) {
  animation: appear 7s ease 12s 1 normal;
  -webkit-animation: appear 7s ease 6s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(8) {
  animation: appear 8s ease 14s 1 normal;
  -webkit-animation: appear 8s ease 7s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(9) {
  animation: appear 9s ease 16s 1 normal;
  -webkit-animation: appear 9s ease 8s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.appear-animation:nth-child(10) {
  animation: appear 10s ease 18s 1 normal;
  -webkit-animation: appear 10s ease 9s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation-fadeinup {
  opacity: 0;
}

.fadeinup {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* appear */
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* ===================================================================================================== */
/* Typing text animation                                                                                 */
/* ===================================================================================================== */
.typing-text-container {
  display: flex;
  position: absolute !important;
  text-align: center !important;
  justify-content: center !important;
  width: 28em !important;
  margin: 0px;
  margin-top: -23.5px;
  margin-left: 25px !important;
  font-weight: 500;
}

.styles_type__2Teeh {
  position: absolute !important;
  display: flex;
  text-align: center !important;
  justify-content: center !important;
}

.icon-typing {
  display: flex;
  width: 18px !important;
  height: 18px !important;
  margin-left: -202px !important;
}

/* ===================================================================================================== */
/* Waves particules animation                                                                            */
/* ===================================================================================================== */
::selection {
  background-color: salmon;
  color: white;
}

.parallax use {
  animation: move-forever 12s linear infinite;
}
.parallax use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 12s;
  opacity: 0.6;
}
.parallax use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 14s;
  opacity: 0.8;
}
.parallax use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 16s;
}
.parallax use:nth-child(4) {
  animation-delay: -2s;
  animation-duration: 10s;
  opacity: 0.4;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.editorial {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 50em) {
  .editorial {
    height: 17vw;
  }
}
/* Particules */
.particules-container {
  top: 0;
}

.particles {
  z-index: 0;
  position: absolute;
  top: -100px;
  left: 10px;
  right: 10px;
  height: 100%;
  max-height: 350px !important;
}
.particles .particle {
  position: absolute;
  opacity: 0.8;
  background: var(--particules-animation-bg);
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}
.particles .particle:nth-child(1) {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  -webkit-animation: floating 28s linear;
  animation: floating 28s linear;
  top: 65%;
  left: 10%;
}
.particles .particle:nth-child(2) {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 15%;
  left: 33%;
}
.particles .particle:nth-child(25), .particles .particle:nth-child(3) {
  animation: floating 28s linear;
  border-radius: 100%;
}
.particles .particle:nth-child(3) {
  height: 21px;
  width: 21px;
  animation: floating 28s linear;
  top: 48%;
  left: 36%;
}
.particles .particle:nth-child(4) {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-animation: floating 25s linear;
  animation: floating 25s linear;
  top: 85%;
  left: 75%;
}
.particles .particle:nth-child(5) {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 36%;
  left: 78%;
}
.particles .particle:nth-child(6) {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  -webkit-animation: floating 23s linear;
  animation: floating 23s linear;
  top: 87%;
  left: 18%;
}
.particles .particle:nth-child(7) {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-animation: floating 36s linear;
  animation: floating 36s linear;
  top: 63%;
  left: 78%;
}
.particles .particle:nth-child(8) {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  -webkit-animation: floating 27s linear;
  animation: floating 27s linear;
  top: 35%;
  left: 76%;
}
.particles .particle:nth-child(9) {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  -webkit-animation: floating 31s linear;
  animation: floating 31s linear;
  top: 20%;
  left: 70%;
}
.particles .particle:nth-child(10) {
  height: 13px;
  width: 13px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 42%;
  left: 23%;
}
.particles .particle:nth-child(11) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 30s linear;
  animation: floating 30s linear;
  top: 62%;
  left: 17%;
}
.particles .particle:nth-child(12) {
  height: 13px;
  width: 13px;
  border-radius: 100%;
  -webkit-animation: floating 29s linear;
  animation: floating 29s linear;
  top: 9%;
  left: 63%;
}
.particles .particle:nth-child(13) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 21s linear;
  animation: floating 21s linear;
  top: 14%;
  left: 30%;
}
.particles .particle:nth-child(14) {
  height: 11px;
  width: 11px;
  border-radius: 100%;
  -webkit-animation: floating 34s linear;
  animation: floating 34s linear;
  top: 29%;
  left: 33%;
}
.particles .particle:nth-child(15) {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  -webkit-animation: floating 23s linear;
  animation: floating 23s linear;
  top: 68%;
  left: 31%;
}
.particles .particle:nth-child(16) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 21s linear;
  animation: floating 21s linear;
  top: 29%;
  left: 57%;
}
.particles .particle:nth-child(17) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 49%;
  left: 21%;
}
.particles .particle:nth-child(18) {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  -webkit-animation: floating 37s linear;
  animation: floating 37s linear;
  top: 35%;
  left: 94%;
}
.particles .particle:nth-child(19) {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 42%;
  left: 33%;
}
.particles .particle:nth-child(20) {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  -webkit-animation: floating 35s linear;
  animation: floating 35s linear;
  top: 94%;
  left: 20%;
}
.particles .particle:nth-child(21) {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  -webkit-animation: floating 37s linear;
  animation: floating 37s linear;
  top: 7%;
  left: 23%;
}
.particles .particle:nth-child(22) {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  -webkit-animation: floating 34s linear;
  animation: floating 34s linear;
  top: 49%;
  left: 33%;
}
.particles .particle:nth-child(23) {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  -webkit-animation: floating 29s linear;
  animation: floating 29s linear;
  top: 82%;
  left: 58%;
}
.particles .particle:nth-child(24) {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  -webkit-animation: floating 32s linear;
  animation: floating 32s linear;
  top: 60%;
  left: 90%;
}
.particles .particle:nth-child(25) {
  height: 25px;
  width: 25px;
  animation: floating 28s linear;
  top: 53%;
  left: 85%;
}
.particles .particle:nth-child(26) {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  -webkit-animation: floating 28s linear;
  animation: floating 28s linear;
  top: 63%;
  left: 94%;
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
  5% {
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translate(0, -250px) scale(1.4);
    transform: translate(0, -250px) scale(1.4);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, -500px) scale(0.5);
    transform: translate(0, -500px) scale(0.5);
  }
}
/* ===================================================================================================== */
/* 05. Responsive rules                                                                                  */
/* ===================================================================================================== */
/* Responsive grids */
@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .grid__row {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    margin: 0;
  }

  .user__avatar {
    margin-top: var(--spacing-1-3);
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  .grid__container {
    grid-template-columns: 2.5fr 3fr !important;
  }
}
@media screen and (min-width: 1024px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .grid__row {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    margin: 0;
  }
}
@media screen and (min-width: 2560px) {
  .user__avatar {
    margin-top: var(--spacing-0);
  }

  .styles_type__2Teeh {
    margin-left: var(--spacing-160px) !important;
  }
}
@media screen and (min-width: 200px) and (max-width: 425px) {
  .sidebar::before {
    height: 240px;
  }

  .sidebar-header {
    margin-top: var(--spacing-8px-neg);
  }

  .user .user__avatar {
    margin-top: var(--spacing-1);
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: var(--h1-mobile-font-size) !important;
  }

  .styles_type__2Teeh {
    font-size: var(--h2-mobile-font-size) !important;
  }

  h2,
.skills__h2 {
    margin-bottom: var(--spacing-20px);
    font-size: var(--h2-mobile-font-size) !important;
    letter-spacing: 1.5px;
  }

  h3 {
    font-size: var(--h3-mobile-font-size);
  }

  h4 {
    font-size: var(--h4-mobile-font-size);
  }

  .main {
    padding: var(--spacing-8px);
    margin-left: -3%;
  }

  .user__job svg {
    margin-left: -162px !important;
  }

  .skills .skill__text {
    z-index: 1;
    vertical-align: middle;
  }
  .skills .skill__text .skill__title {
    font-size: var(--skill-title-mobile-font-size) !important;
  }
}
@media screen and (min-width: 425px) {
  .skills_column_two {
    padding-top: 0px !important;
  }
}
/* ===================================================================================================== */
/* 06. Dark theme                                                                                        */
/* ===================================================================================================== */
.dark {
  color: var(--dark-text-color);
  background: linear-gradient(0deg, var(--dark-body-bg-color) 0%, var(--dark-body-bg-color-02) 100%);
  /* Icon Styles*/
}
.dark h1,
.dark h2,
.dark h3 {
  color: var(--dark-title-color);
}
.dark a:hover {
  color: var(--dark-link-active-color) !important;
}
.dark p.profil__text {
  padding: 0rem 2rem 2rem 2rem !important;
}
.dark p.author {
  color: var(--dark-text-color);
}
.dark button {
  color: var(--dark-text-color);
}
.dark .circle {
  background-color: var(--dark-circle-color);
  box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
}
.dark .circle-plain {
  background-color: var(--dark-circle-color-plain);
  box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
}
.dark .sidebar {
  background-color: var(--dark-sidebar-bg-color);
  border-right: 1px solid var(--dark-sidebar-border-color);
}
.dark .sidebar::before {
  background-color: var(--dark-sidebar-bg-color-before);
}
.dark .grid__location {
  color: var(--dark-text-color);
}
.dark .user__avatar {
  box-shadow: 0 3px 10px 1px var(--dark-avatar-shadow);
}
.dark .particles .particle {
  background: var(--dark-particules-animation-bg);
}
.dark .user__infos a:hover {
  color: var(--dark-link-active-color);
}
.dark .user__info svg,
.dark .user__job svg {
  color: var(--dark-icon-color) !important;
}
.dark .interests svg {
  color: var(--dark-icon-color);
}
.dark .profil {
  background-image: linear-gradient(90deg, var(--dark-body-profil-bg) 0%, var(--dark-body-profil-bg-02) 35%);
}
.dark .cursus {
  background-image: linear-gradient(90deg, var(--dark-body-cursus-bg) 0%, var(--dark-body-cursus-bg-02) 35%);
}
.dark .experiences {
  background-image: linear-gradient(90deg, var(--dark-body-experiences-bg) 0%, var(--dark-body-experiences-bg-02) 35%);
}
.dark .title-banner {
  box-shadow: 0 5px 15px var(--title-dark-banner-shadow);
}
.dark .copyright {
  font-size: var(--footer-font-size);
  color: var(--dark-copyright-text);
}
.dark .update-date {
  color: var(--dark-text-color);
}
.dark .underline {
  border-bottom: 1px solid var(--dark-underline-color);
}
.dark .icon .fa,
.dark .icon {
  color: var(--dark-icon-color) !important;
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow);
  -moz-box-shadow: 1px 1px 3px var(--icon-shadow);
  box-shadow: 1px 1px 3px var(--icon-shadow);
}
.dark .icon .fa:hover, .dark .icon .fa:active, .dark .icon .fa:hover, .dark .icon .fa:active,
.dark .icon:hover,
.dark .icon:active,
.dark .icon:hover,
.dark .icon:active {
  color: var(--dark-icon-color-hover);
  cursor: pointer;
}
.dark .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.dark .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.dark .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.dark .css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: var(--dark-text-color) !important;
  border-color: var(--dark-text-color) !important;
}

/* ===================================================================================================== */
/* 07. Print theme                                                                                        */
/* ===================================================================================================== */
/* Print theme styles -> pdf A4  */
#cv-print {
  width: 100% !important;
}

.cv-print p {
  margin-top: var(--spacing-0px) !important;
  margin-bottom: var(--spacing-8px);
  font-size: var(--p-print-font-size);
  padding: 0rem 0.25rem 0rem 0.25rem !important;
}
.cv-print p .print__job-title {
  padding-left: var(--spacing-16px-neg) !important;
  margin-left: var(--spacing-16px-neg) !important;
}
.cv-print .date {
  justify-content: flex-end !important;
}
.cv-print p.update-date {
  font-size: var(--p-print-update-date-font-size);
  margin-top: -20px !important;
  margin-right: var(--spacing-8px);
}
.cv-print h1,
.cv-print h2,
.cv-print h3,
.cv-print h4 {
  padding: 5px !important;
  font-weight: 500;
  color: var(--title-color);
}
.cv-print h1 {
  margin-top: -7%;
  margin-left: -5%;
  font-size: var(--h1-cv-print-font-size);
  text-transform: uppercase;
}
.cv-print h2,
.cv-print h2.h2 {
  margin-bottom: var(--spacing-0px) !important;
  font-size: var(--h2-cv-print-font-size);
  text-transform: uppercase;
  padding-left: var(--spacing-6-5px) !important;
  padding-top: var(--spacing-2) !important;
  margin-top: var(--spacing-17px) !important;
}
.cv-print h3 {
  font-size: var(--h3-cv-print-font-size);
}
.cv-print .grid__title {
  margin-top: var(--spacing-4px-neg) !important;
  margin-bottom: var(--spacing-0px) !important;
}
.cv-print .grid__technologies {
  display: none !important;
}
.cv-print .grid__print-url {
  display: block !important;
  font-size: var(--li-print-url-font-size);
  color: var(--grid-print-url-font-color);
  margin-top: 0px !important;
  margin-left: 15px !important;
}
.cv-print ul {
  margin: 0;
  padding: 0;
  padding-bottom: var(--spacing-8px) !important;
}
.cv-print li.grid__mission {
  font-size: var(--p-print-font-size);
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding-left: 5px !important;
}
.cv-print li.grid__mission:nth-child(6),
.cv-print li.grid__mission:nth-child(7),
.cv-print li.grid__mission:nth-child(8),
.cv-print li.grid__mission:nth-child(9),
.cv-print li.grid__mission:nth-child(10) {
  display: none !important;
  list-style: none !important;
}
.cv-print .grid__container {
  font-size: var(--cv-print-font-size) !important;
  padding: var(--spacing-6-5px);
  padding-left: var(--spacing-20px) !important;
  max-width: 250mm;
}
.cv-print .sidebar {
  height: 297mm;
  width: 230px;
}
.cv-print .user__infos svg,
.cv-print .actions svg,
.cv-print .sidebar-header {
  display: none !important;
}
.cv-print .user .avatar-container {
  margin-top: var(--spacing-30px) !important;
}
.cv-print .user .avatar-container .user__avatar {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 1px var(--avatar-shadow);
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 0px !important;
}
.cv-print .user .user__animated-container {
  margin-top: 31px !important;
  margin-left: -12px !important;
}
.cv-print .user .user__job,
.cv-print .user .user__name {
  margin-top: var(--spacing-24px-neg) !important;
  margin-left: var(--spacing-8px-neg) !important;
}
.cv-print .user .user__job {
  margin-top: var(--spacing-8px-neg) !important;
  margin-left: var(--spacing-16px-neg) !important;
}
.cv-print .user .user__cv_url {
  display: block !important;
}
.cv-print .user__avatar {
  margin-left: -1.5rem;
}
.cv-print .circle {
  margin-top: 8.5px;
  width: 10px;
  height: 10px;
  margin-left: -5%;
}
.cv-print .skill__rating {
  margin-left: 62% !important;
  padding-top: 5px !important;
}
.cv-print span.skill__title {
  margin-left: var(--spacing-8px) !important;
}
.cv-print .animation-fadeinup,
.cv-print .appear-animation .fadeinup {
  opacity: 1 !important;
  animation: none !important;
}
.cv-print .interests li {
  display: block;
  padding: var(--spacing-0px);
}
.cv-print .interests li svg {
  font-size: var(--svg-font-size);
  height: var(--spacing-15px);
}
.cv-print .interests_ {
  min-height: 250px !important;
}
.cv-print .interests .interests__list {
  margin-bottom: var(--spacing-0px) !important;
}
.cv-print .interests__text {
  font-size: var(--p-print-font-size) !important;
  margin-top: var(--spacing-20px) !important;
}
.cv-print .skill .progress,
.cv-print .skill .progress__limit,
.cv-print .skill .progress__wrap,
.cv-print .skill .progress__wrap .progress__bar {
  visibility: hidden;
}
.cv-print .skills__lang,
.cv-print h2.h2 {
  font-size: var(--cv-print-font-size) !important;
  margin-bottom: var(--spacing-20px) !important;
  padding-left: var(--spacing-1) !important;
}
.cv-print h2.h2 {
  margin-bottom: var(--spacing-20px) !important;
}
.cv-print .profil h2,
.cv-print .experiences h2,
.cv-print .cursus h2 {
  padding-left: 2.5rem;
  padding: 0 !important;
  margin: 10px 0px 10px 15px !important;
  box-shadow: 0px 8px 8px -9px var(--print-profil-container-shadow) !important;
}
.cv-print .skills__lang {
  margin-top: var(--spacing-20px) !important;
}
.cv-print .profil,
.cv-print .cursus,
.cv-print .experiences,
.cv-print .grid__row {
  background: transparent !important;
  margin-bottom: var(--spacing-0px);
  margin-left: var(--spacing-6-5px) !important;
}
.cv-print .cursus,
.cv-print .experiences {
  padding-top: 15px !important;
}
.cv-print .skill__text {
  padding-left: var(--spacing-0px) !important;
  padding-top: var(--spacing-8px) !important;
}
.cv-print .skill {
  padding-bottom: 0px !important;
}
.cv-print .grid__row {
  margin-top: 0px;
}
.cv-print p.profil__text {
  padding: 0rem 0.5rem 1rem 1rem !important;
  line-height: var(--spacing-17px);
}
.cv-print .sidebar {
  padding: var(--spacing-8px) !important;
}
.cv-print .margin-bottom-3 {
  margin-bottom: var(--spacing-6-5px);
}
.cv-print .typing-text-container {
  margin-top: var(--spacing-8px) !important;
  justify-content: flex-start !important;
  margin-left: -15px !important;
}
.cv-print .footer {
  justify-content: flex-start !important;
  margin-top: -80px !important;
  padding-left: var(--spacing-8px) !important;
}
.cv-print .footer .copyright {
  padding-left: var(--spacing-1) !important;
  font-size: var(--print-footer-font-size);
  color: var(--copyright-text);
}
.cv-print .footer .copyright .author {
  font-size: var(--print-footer-author-font-size);
  align-items: center;
}
.cv-print .footer #react {
  vertical-align: middle !important;
  color: var(--react-color-bg);
  height: 12px !important;
  width: 12px !important;
  animation: none !important;
}
.cv-print .footer .print-made-end-hide {
  visibility: hidden !important;
}
.cv-print .footer .print-made-with {
  padding-left: var(--spacing-0px) !important;
}
.cv-print .footer .print-made-by {
  padding-left: var(--spacing-8px) !important;
}
.cv-print .user__job,
.cv-print .sidebar::before,
.cv-print .MuiSvgIcon-root,
.cv-print .user__linkedIn,
.cv-print .user__gitLab {
  display: none !important;
  visibility: hidden !important;
}
.cv-print .print-hide {
  opacity: 0 !important;
}
.cv-print .print-show {
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-flex !important;
}
.cv-print .grid__date,
.cv-print .grid__location {
  font-size: var(--date-cv-print-font-size) !important;
  padding-left: var(--spacing-4px) !important;
  padding-top: var(--spacing-3px) !important;
}
.cv-print .user__animated-container {
  margin-left: -11.5px !important;
  margin-top: 0.5px !important;
}
.cv-print .circle {
  background-color: white !important;
}
.cv-print .circle-plain {
  background-color: var(--circle-color-plain) !important;
}
.cv-print .skills_column_two {
  flex-wrap: wrap;
  margin-left: 50%;
  margin-top: -355px !important;
  padding-top: 5px;
  padding-left: 0px !important;
}

/* ===================================================================================================== */
/* 08. Components                                                                                        */
/* ===================================================================================================== */
/* Formations section */
.profil,
.cursus,
.experiences {
  margin-left: var(--spacing-20px);
  margin-bottom: var(--spacing-20px);
  border-radius: 5px;
  background-image: linear-gradient(315deg, var(--body-profil-bg) 0%, var(--body-profil-bg-02) 74%);
  -moz-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
  -webkit-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
  box-shadow: 0px 8px 8px -9px var(--profil-container-shadow) !important;
}
.profil a:hover,
.cursus a:hover,
.experiences a:hover {
  color: var(--link-active-color) !important;
  zoom: 1.1 !important;
}

.profil h2,
.experiences h2,
.cursus h2 {
  padding-left: var(--spacing-1-5) !important;
  padding: var(--spacing-8px);
  -moz-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
  -webkit-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
  box-shadow: 0px 8px 8px -9px var(--profil-container-shadow) !important;
}

p.profil__text {
  padding: 0rem 2rem 1.5rem 2rem !important;
  line-height: var(--spacing-20px);
}

/* User section */
.user {
  z-index: 2;
  position: relative;
  text-align: center;
  -moz-box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);
  -webkit-box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);
  box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);
}
.user .avatar-container {
  margin-top: -30px;
}
.user .avatar-container .user__avatar {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 1px var(--avatar-shadow);
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 30px;
}
.user .avatar-container .user__avatar:hover {
  transform: scale(1.1);
}
.user .user__infos {
  text-align: left;
  padding: var(--spacing-20px) 0 var(--spacing-6-5px) 0;
}
.user .user__infos a:hover {
  color: var(--link-active-color);
}
.user .user__infos .user__info {
  display: flex;
  vertical-align: middle;
  margin-bottom: 10px !important;
  font-weight: 500;
}
.user .user__infos .user__info svg {
  margin-top: -8px !important;
}
.user .user__infos .user__info svg:hover {
  z-index: 3;
  color: var(--svg-hover-color);
  cursor: pointer;
  zoom: 1.1;
}
.user .user__job svg,
.user .user__info svg {
  color: var(--icon-color);
  margin-top: var(--spacing-6-5px) !important;
  margin-right: var(--spacing-20px);
  vertical-align: middle;
}
.user .user__name {
  margin-top: 30px;
}
.user .user__name svg {
  vertical-align: middle;
  margin-right: var(--spacing-20px);
}
.user .user__name,
.user .user__job {
  margin-left: -18px;
}
.user .user__cv_url {
  display: none !important;
}

.dark .user__avatar {
  box-shadow: 0 3px 10px 1px var(--dark-avatar-shadow);
}

.dark .user__infos a:hover {
  color: var(--dark-link-active-color);
}

.user__info {
  display: flex;
}

.user__info svg {
  margin-top: -5px !important;
}

.user__job svg,
.user__name svg {
  margin-top: -2px !important;
}

.user__job svg,
.user__info svg {
  color: var(--icon-color);
  margin-right: var(--spacing-20px);
  vertical-align: middle;
}

.user__job svg {
  margin-right: var(--spacing-20px) !important;
}

.user__name svg {
  vertical-align: middle;
  margin-right: var(--spacing-20px);
}

.dark .user__info svg,
.dark .user__job svg {
  color: var(--dark-icon-color) !important;
}

.user__info > svg:hover {
  z-index: 3;
  display: block;
  color: var(--svg-hover-color);
  cursor: pointer;
}

/* Skills section */
.skills {
  margin-top: var(--spacing-20px);
  flex-wrap: wrap;
}
.skills a:hover {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
  zoom: 1.1;
}
.skills .skills__h2 {
  margin-top: var(--spacing-20px);
  font-size: var(--h2-font-size);
}
.skills .skill__text {
  z-index: 1;
  vertical-align: middle;
  padding-top: var(--spacing-0px);
  padding-bottom: var(--spacing-8px);
}
.skills .skill__text span {
  font-weight: 400;
  padding-left: var(--spacing-8px);
}
.skills .skill__text .skill__title {
  font-size: var(--skill-title-font-size);
}
.skills .skill__text .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  /*.progress__wrap {
      display: flex;
      background: var(--progress-bar-wrap-color);
      background: transparent;
      overflow: hidden;
      position: relative;
      top: -27px;
      .progress__bar {
          background: var(--progress-bar-color);
          left: 0;
          position: absolute;
      }
  }*/
}
.skills .skill__text .skill .skill__rating {
  margin-left: var(--spacing-160px);
  margin-top: -25.5px;
}
.skills .skill__text .skill .progress {
  display: flex;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 25px;
  opacity: 1;
}
.skills .skill__text .skill .progress__limit {
  width: 100%;
  height: 25px;
}
.skills .skill__text .skill .progress__wrap {
  display: none;
}
.skills .skill__text .skill .progress__wrap .progress__bar {
  display: none;
}

h2.skills__lang {
  padding-top: 20px;
}

.skills_column_two {
  flex-wrap: wrap;
  margin-left: 50%;
  margin-top: -357px;
  padding-top: 0px !important;
  padding-left: 20px;
}
.skills_column_two .skill__text {
  z-index: 1;
  vertical-align: middle;
  padding-top: var(--spacing-0px);
  padding-bottom: var(--spacing-8px);
}

/* Interests section */
.interests {
  /*display: none;*/
  align-items: left;
  min-height: 100%;
}
.interests a:hover {
  color: var(--link-active-color);
  zoom: 1.1;
}
.interests h2 {
  margin-top: var(--spacing-80px);
}
.interests svg {
  padding-left: var(--spacing-16px-neg);
  padding-right: var(--spacing-17px);
  color: var(--icon-color);
  font-size: var(--svg-font-size);
  vertical-align: middle;
}
.interests svg:hover {
  color: var(--svg-hover-color);
  cursor: pointer;
}
.interests ul {
  padding-left: var(--spacing-0px);
}
.interests .interests__list {
  padding-right: var(--spacing-20px) !important;
  margin-bottom: var(--spacing-4px) !important;
}
.interests .interests__text {
  vertical-align: middle;
  padding-left: var(--spacing-20px) !important;
  font-size: var(--interests-text-size);
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
}
.footer svg {
  vertical-align: middle;
  color: var(--heart-color-bg);
  height: 30px !important;
  width: 30px !important;
}
.footer .copyright {
  font-size: var(--footer-font-size);
  color: var(--copyright-text);
}
.footer .copyright .author {
  font-size: var(--footer-author-font-size);
  align-items: center;
}
.footer #react {
  color: var(--react-color-bg);
  height: 18px !important;
  width: 18px !important;
}

/* Buttons section */
/*Buttons styles*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button svg {
  font-size: var(--svg-font-size) !important;
}

/* Icons */
/* Icon Styles*/
.icon .fa,
.icon {
  font-size: var(--bg-icon-size);
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  text-align: center;
  color: var(--icon-color) !important;
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow);
  -moz-box-shadow: 1px 1px 3px var(--icon-shadow);
  box-shadow: 1px 1px 3px var(--icon-shadow);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out !important;
  vertical-align: middle;
}
.icon .fa:hover, .icon .fa:active, .icon .fa:hover, .icon .fa:active,
.icon:hover,
.icon:active,
.icon:hover,
.icon:active {
  color: var(--icon-color-hover);
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  -moz-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  cursor: pointer;
}

.icon-fa {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  top: 5px !important;
  vertical-align: middle;
}

.icon.icon-circle .fa,
.icon.icon-circle {
  padding: var(--spacing-6-5px);
  border-radius: 50%;
}

.icon.icon-small .fa,
.icon.icon-small {
  font-size: var(--bg-icon-small-size) !important;
  width: 12px !important;
  height: 12px !important;
  line-height: 16px !important;
  padding: var(--spacing-0px) !important;
  vertical-align: middle;
}

.icon.icon-rounded .fa,
.icon.icon-rounded {
  padding: var(--spacing-6-5px);
  border-radius: 5px;
}

.icon.icon-flat .fa,
.icon.icon-flat {
  padding: var(--spacing-6-5px);
  border-radius: 0;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 3.5px;
  border-radius: 50%;
  background-color: var(--circle-color);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

.circle-plain {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color-plain);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

/*Overload icons MUI styles*/
.ArrowForwardIosIcon__small {
  height: 16px !important;
  width: 16px !important;
  vertical-align: middle !important;
  margin-top: -3px;
}

/* Languages */
.languageSwitcher {
  z-index: 2 !important;
  display: flex;
  flex-direction: column;
  align-items: right;
  background: transparent;
  background-position-y: -390px;
  margin: auto 0;
  background-size: 100% 800px;
  background-repeat: no-repeat;
  margin-left: 70px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.lang .dropdown {
  position: relative;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lang:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lang:hover .dropdown li {
  margin: 0;
  display: block;
  padding: 5px 0;
}
.lang:hover .dropdown li div:hover {
  width: 45px;
  height: 45px;
}

/*Mui override styles*/
.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation1,
.MuiMenu-paper,
.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation8,
.MuiPopover-paper,
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background: transparent !important;
  align-items: center !important;
  width: 30px !important;
  padding: 0 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin-left: -8.5px !important;
  margin-top: -15px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 5px !important;
}

.css-q8hpuo-MuiFormControl-root {
  max-width: 45px !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  right: -2.5px !important;
  top: 6px !important;
  width: 0.85em !important;
  height: 0.85em !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  left: -4.5px !important;
}

.MuiSvgIcon-root {
  padding: 5px !important;
}

.css-q8hpuo-MuiFormControl-root {
  margin: 0px !important;
}

.css-ece9u5 {
  min-width: 70px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: center !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: none !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  height: 100% !important;
}

/*Icons styles*/
.icon__lang-select .fa,
.icon__lang-select {
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon__lang-select .fa:hover, .icon__lang-select .fa:active, .icon__lang-select .fa:hover, .icon__lang-select .fa:active,
.icon__lang-select:hover,
.icon__lang-select:active,
.icon__lang-select:hover,
.icon__lang-select:active {
  color: var(--icon-color-hover);
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  -moz-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  box-shadow: 1px 1px 3px var(--icon-shadow-hover);
  cursor: pointer;
}

.icon-globe {
  padding-bottom: 12px !important;
  padding-right: 4px !important;
  margin-left: -2px !important;
}

.icon-globe:hover,
.icon-globe:active {
  box-shadow: none !important;
}

.icon__lang-select.icon-flag .fa,
.icon__lang-select.icon-flag {
  border-radius: 5%;
  width: 1.5em !important;
  height: 1.4em !important;
}

/*# sourceMappingURL=styles.css.map */
