@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}



body {
  z-index: 999;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text-color);
  background: linear-gradient(315deg, var(--body-bg-color) 0%, var(--body-bg-color-02) 100%);
}

.dark {
  color: var(--dark-text-color);
  background: linear-gradient(0deg, var(--dark-body-bg-color) 0%, var(--dark-body-bg-color-02) 100%);
}

.dark h1, .dark h2, .dark h3 {
  color: var(--dark-title-color);
}

h1, h2, h3, h4 {
  font-weight: 500;
  color: var(--title-color);
}

h1 {
  margin-top: var(--spacing-20px);
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-20px);
  font-size: var(--h2-font-size);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3-font-size);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  font-size: var(--svg-font-size)!important;
}

.dark button {
  color: var(--dark-text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.dark a {
  color: var(--dark-text-color);
}

p {
  margin-bottom: var(--spacing-2);
}

ul {
  padding-left: var(--spacing-1-3);
  list-style-type: none;
}

li {
  margin-bottom: var(--spacing-2);
}

/* grid margins */

.margin-bottom-3 {
  margin-bottom: var(--spacing-20px);
}

.margin-bottom-5 {
  margin-bottom: var(--spacing-80px);
}

.margin-left-3 {
  margin-left: var(--spacing-20px);
}

.grid__row {
  margin: var(--spacing-20px);
  margin-left: 5%!important;
}

.grid__missions {
  margin-bottom: var(--spacing-20px);
}

.grid__certification {
  margin-bottom: var(--spacing-2)!important;
}

/*Responsive grids*/
@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid__row {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    margin: 0;
  }
}

/* layouts */

.sidebar {
  position: relative;
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
  border-right: 1px solid var(--sidebar-border-color);
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  overflow: hidden;
}

.sidebar::before {
  z-index: 0;
  position: absolute;
  content:'';
  display: block;
  width: 110%;
  height: 260px;
  background-color: var(--sidebar-bg-color-before);
  margin-left:-5%;
  transform: rotate(-2deg);
	margin-top: -8%;
  left: -2%;
  margin-right: -2%;
  /*clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);*/
  /*clip-path: polygon(48% 100%, 100% 38%, 100% 0, 0 0, 0% 38%);*/
  /*clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);*/
  /*clip-path: polygon(50% 0%, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 0 0);*/
  /*clip-path: polygon(0 0, 100% 1%, 100% 100%, 75% 86%, 25% 86%, 0 100%);*/
  /*border-radius: 0 0 25% 25%;*/
}

.dark .sidebar::before {
  background-color: var(--dark-sidebar-bg-color-before);
}

.dark .sidebar {
  background-color: var(--dark-sidebar-bg-color);
  border-right: 1px solid var(--dark-sidebar-border-color);
}

.sidebar-header {
  z-index: 10!important;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 30px;
}

.actions {
  display: flex;
  position: relative;
}

.social {
  display: flex;
  position: relative;
  margin-top: 0px;
}

.actions svg,
.social svg{
 font-size: var(--svg-font-size);
 margin-right: var(--spacing-15px);
}

.main {
  padding: 1.5rem;
}

/*Utils*/

.date {
  display: flex;
  justify-content: center;
  width: 100%;
}

.update-date {
  font-size: var(--date-text-font-size);
  color: var(--text-color);
  margin-top: var(--spacing-8px-neg);
}

.dark .update-date {
  color: var(--dark-text-color);
}

/* icons */

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  margin-top: 3.5px;
  border-radius: 50%;
  background-color: var(--circle-color);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

.circle-plain {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color-plain);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

.dark .circle {
  background-color: var(--dark-circle-color);
  box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
}

.dark .circle-plain {
  background-color: var(--dark-circle-color-plain);
  box-shadow: 0 2px 4px 2px var(--dark-skills-rating-shadow);
}

/* Icon Styles*/

.icon .fa,
.icon {
  font-size: var(--bg-icon-size);
  width: 32px!important;
  height: 32px!important;
	line-height: 32px!important;
	text-align: center;
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow);
	-moz-box-shadow: 1px 1px 3px var(--icon-shadow);
	box-shadow: 1px 1px 3px var(--icon-shadow);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  vertical-align: middle;
}

.icon.icon-circle .fa,
.icon.icon-circle {
  padding: var(--spacing-6-5px);
  border-radius: 50%;
}

.icon.icon-rounded .fa,
.icon.icon-rounded {
  padding: var(--spacing-6-5px);
	border-radius:5px;
}

.icon.icon-flat .fa,
.icon.icon-flat {
  padding: var(--spacing-6-5px);
  border-radius: 0;
}

.icon .fa:hover, .icon .fa:active,
.icon:hover, .icon:active {
	color: var(--icon-color-hover);
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
	-moz-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
	box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    cursor: pointer;
}

/* grids */

.grid__item,
.grid__item p {
  margin-bottom: var(--spacing-0px);
  padding: 0rem 0.25rem 0.25rem 0.25rem;
}

.grid__date,
.grid__date p {
  font-weight: 500;
  margin-right: var(--spacing-6-5px);
  font-size: var(--date-cv-font-size);
}

.grid__title {
  margin-bottom: var(--spacing-0px)!important;
}

.grid__location {
  margin-top: var(--spacing-6-5px);
  font-weight: 400;
  color:  var(--text-color);
  font-size: var(--location-text-size);
}

.dark .grid__location {
  color:  var(--dark-text-color);
}

.grid__mission {
  margin-bottom: var(--spacing-6-5px);
}

/* pdf A4 styles */
#cv-print {
  width: 100%!important;
}

.cv-print h1, .cv-print h2, .cv-print h3, .cv-print h4 {
  margin-bottom: var(--spacing-0px);
  font-weight: 500;
  color: var(--title-color);
}

.cv-print h1 {
  margin-top: -7%;
  margin-left: -5%;
  font-size: var(--h1-cv-print-font-size);
  text-transform: uppercase;
}

.cv-print h2,
.cv-print h2.h2 {
  font-size: var(--h2-cv-print-font-size);
  text-transform: uppercase;
  padding-left: var(--spacing-6-5px)!important;
  padding-top: var(--spacing-2)!important;
  margin-top: var(--spacing-0px)!important;
}

.cv-print h3 {
  font-size: var(--h3-cv-print-font-size);
}

.cv-print ul {
  margin:0;
  padding:0;
}

.cv-print ul li {
  list-style-type:none;
}

.cv-print ul li:before {
  content: "-";
  display: inline-block; 
  padding-right: 10px;
}

.cv-print .grid__container {
  font-size: var(--cv-print-font-size)!important;
  padding: var(--spacing-6-5px);
  padding-left: var(--spacing-20px)!important;
  max-width: 250mm;
}
.cv-print .sidebar {
  height: 297mm;
  width: 230px;
}

.cv-print .user__infos svg,
.cv-print .actions svg,
.cv-print .sidebar-header {
  display: none!important;
}

.cv-print .user {
  margin-top: -7%;
}

.cv-print .user__avatar {
  margin-top: var(--spacing-2);
}

.cv-print .circle {
  margin-top: 8.5px;
  width: 10px;
  height: 10px;
  margin-left: -5%;
}

.cv-print .grid__date {
  margin-top: 5px;
  padding-left: var(--spacing-15px);
  padding-right: var(--spacing-15px);
  font-size: var(--date-cv-font-size);
  vertical-align: middle;
}

.cv-print .skill__rating {
  margin-left: 56%;
}

.cv-print .animation-fadeinup,
.cv-print .appear-animation
.cv-print .fadeinup {
  opacity: 1!important;
  animation: none!important;
}

.cv-print .interests li{
  display: block;
  padding: var(--spacing-0px);
}

.cv-print .interests li svg{
  font-size: var(--svg-font-size);
  height: var(--spacing-15px);
  Width: var(--spacing-15px);
}

.cv-print .interests__text {
  margin-top: var(--spacing-20px)!important;
}

.cv-print .skill .progress,
.cv-print .skill .progress__limit,
.cv-print .skill .progress__wrap,
.cv-print .skill .progress__wrap .progress__bar {
  visibility: hidden;
}

.media-hide,
.cv-print .user__job .print-hide,
.cv-print .sidebar::before,
.cv-print .MuiSvgIcon-root,
.cv-print .user__linkedIn,
.cv-print .user__gitLab {
  display: none!important;
  visibility: hidden!important;
}

.cv-print .skills__h2,
.cv-print .skills__lang, 
.cv-print h2.h2{
  font-size: var(--cv-print-font-size)!important;
  margin-bottom: var(--spacing-20px)!important;
  padding-left: var(--spacing-0px)!important;
}

.cv-print .skills__lang {
  margin-top: -20px!important;
}

.cv-print .profil,
.cv-print .cursus,
.cv-print .experiences,
.cv-print .grid__row {
  background: transparent!important;
  margin-top: -20px;
  margin-left: var(--spacing-6-5px)!important;
}

.cv-print .skill__text span {
  padding-left: var(--spacing-0px)!important;
}

.cv-print .skill {
  padding-bottom: 0px!important;
}

.cv-print .grid__row{
  margin-top: 0px;
}

.cv-print .profil h2,
.cv-print .experiences h2,
.cv-print .cursus h2 {
  padding-left: 1.5rem;
}

.cv-print p.profil__text {
  padding: 0rem 0rem 0rem 0.5rem!important;
}

.cv-print .sidebar {
  padding: 0.5rem!important;
}

.cv-print .grid__date,
.cv-print .grid__date p {
  margin-right: var(--spacing-0px);
  padding-left: 0!important;
}

.cv-print .margin-bottom-3 {
  margin-bottom: var(--spacing-6-5px);
}