.footer {
    display: flex;
    justify-content: center;

    svg {
        vertical-align: middle;
        color: var(--heart-color-bg);
        height: 30px !important;
        width: 30px !important;
    }

    .copyright {
        font-size: var(--footer-font-size);
        color: var(--copyright-text);

        .author {
            font-size: var(--footer-author-font-size);
            align-items: center;
        }
    }

    #react {
        color: var(--react-color-bg);
        height: 18px !important;
        width: 18px !important;
    }
}