.profil,
.cursus,
.experiences {
    margin-left: var(--spacing-20px);
    margin-bottom: var(--spacing-20px);
    border-radius: 5px;
    background-image: linear-gradient(315deg, var(--body-profil-bg) 0%, var(--body-profil-bg-02) 74%);
    -moz-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
    -webkit-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
    box-shadow: 0px 8px 8px -9px var(--profil-container-shadow) !important;

    a:hover {
        color: var(--link-active-color) !important;
        zoom: 1.1 !important;
    }
}

.profil h2,
.experiences h2,
.cursus h2 {
    padding-left: var(--spacing-1-5) !important;
    padding: var(--spacing-8px);
    -moz-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
    -webkit-box-shadow: 0px 8px 8px -9px var(--profil-container-shadow);
    box-shadow: 0px 8px 8px -9px var(--profil-container-shadow) !important;
}

p.profil__text {
    padding: 0rem 2rem 1.5rem 2rem !important;
    line-height: var(--spacing-20px);
}