/* Icon Styles*/

.icon .fa,
.icon {
  font-size: var(--bg-icon-size);
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  text-align: center;
  color: var(--icon-color) !important;
  -webkit-box-shadow: 1px 1px 3px var(--icon-shadow);
  -moz-box-shadow: 1px 1px 3px var(--icon-shadow);
  box-shadow: 1px 1px 3px var(--icon-shadow);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out !important;
  vertical-align: middle;

  &:hover,
  &:active,
  &:hover,
  &:active {
    color: var(--icon-color-hover);
    -webkit-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    -moz-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    cursor: pointer;
  }
}

.icon-fa {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  top: 5px !important;
  vertical-align: middle;
}

.icon.icon-circle .fa,
.icon.icon-circle {
  padding: var(--spacing-6-5px);
  border-radius: 50%;
}

.icon.icon-small .fa,
.icon.icon-small {
  font-size: var(--bg-icon-small-size) !important;
  width: 12px !important;
  height: 12px !important;
  line-height: 16px !important;
  padding: var(--spacing-0px) !important;
  vertical-align: middle;
}

.icon.icon-rounded .fa,
.icon.icon-rounded {
  padding: var(--spacing-6-5px);
  border-radius: 5px;
}

.icon.icon-flat .fa,
.icon.icon-flat {
  padding: var(--spacing-6-5px);
  border-radius: 0;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 3.5px;
  border-radius: 50%;
  background-color: var(--circle-color);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

.circle-plain {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color-plain);
  vertical-align: middle;
  box-shadow: 0 2px 4px 2px var(--skills-rating-shadow);
}

/*Overload icons MUI styles*/
.ArrowForwardIosIcon__small {
  height: 16px !important;
  width: 16px !important;
  vertical-align: middle !important;
  margin-top: -3px;
}