.interests {
    /*display: none;*/
    align-items: left;
    min-height: 100%;

    a:hover {
        color: var(--link-active-color);
        zoom: 1.1;
    }

    h2 {
        margin-top: var(--spacing-80px);
    }

    svg {
        padding-left: var(--spacing-16px-neg);
        padding-right: var(--spacing-17px);
        color: var(--icon-color);
        font-size: var(--svg-font-size);
        vertical-align: middle;

        &:hover {
            color: var(--svg-hover-color);
            cursor: pointer;
        }
    }

    ul {
        padding-left: var(--spacing-0px);
    }

    .interests__list {
        padding-right: var(--spacing-20px) !important;
        margin-bottom: var(--spacing-4px) !important;
    }

    .interests__text {
        vertical-align: middle;
        padding-left: var(--spacing-20px) !important;
        font-size: var(--interests-text-size);
    }

}