.languageSwitcher {
  z-index: 2 !important;
  display: flex;
  flex-direction: column;
  align-items: right;
  background: transparent;
  background-position-y: -390px;
  margin: auto 0;
  background-size: 100% 800px;
  background-repeat: no-repeat;
  margin-left: 70px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .dropdown {
    position: relative;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.lang:hover {
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 0;
      display: block;
      padding: 5px 0;

      div:hover {
        width: 45px;
        height: 45px;
      }
    }
  }
}

/*Mui override styles*/
.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation1,
.MuiMenu-paper,
.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation8,
.MuiPopover-paper,
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background: transparent !important;
  align-items: center !important;
  width: 30px !important;
  padding: 0 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin-left: -8.5px !important;
  margin-top: -15px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 5px !important;
}

.css-q8hpuo-MuiFormControl-root {
  max-width: 45px !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  right: -2.5px !important;
  top: 6px !important;
  width: 0.85em !important;
  height: 0.85em !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  left: -4.5px !important
}

.MuiSvgIcon-root {
  padding: 5px !important;
}

.css-q8hpuo-MuiFormControl-root {
  margin: 0px !important;
}

.css-ece9u5 {
  min-width: 70px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: center !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: none !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  height: 100% !important;
}

/*Icons styles*/
.icon__lang-select .fa,
.icon__lang-select {
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active,
  &:hover,
  &:active {
    color: var(--icon-color-hover);
    -webkit-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    -moz-box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    box-shadow: 1px 1px 3px var(--icon-shadow-hover);
    cursor: pointer;
  }
}

.icon-globe {
  padding-bottom: 12px !important;
  padding-right: 4px !important;
  margin-left: -2px !important;
}

.icon-globe:hover,
.icon-globe:active {
  box-shadow: none !important;
}

.icon__lang-select.icon-flag .fa,
.icon__lang-select.icon-flag {
  border-radius: 5%;
  width: 1.5em !important;
  height: 1.4em !important;
}