.skills {
    margin-top: var(--spacing-20px);
    flex-wrap: wrap;

    a:hover {
        color: black !important;
        text-decoration: none;
        cursor: pointer;
        zoom: 1.1;
    }

    .skills__h2 {
        margin-top: var(--spacing-20px);
        font-size: var(--h2-font-size);
    }

    .skill__text {
        z-index: 1;
        vertical-align: middle;
        padding-top: var(--spacing-0px);
        padding-bottom: var(--spacing-8px);

        span {
            font-weight: 400;
            padding-left: var(--spacing-8px);
        }

        .skill__title {
            font-size: var(--skill-title-font-size);
        }

        .skill {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;

            .skill__rating {
                margin-left: var(--spacing-160px);
                margin-top: -25.5px;
            }

            .progress {
                display: flex;
                position: relative;
                z-index: 0;
                width: 100%;
                height: 25px;
                opacity: 1;
            }

            .progress__limit {
                width: 100%;
                height: 25px;
            }

            .progress__wrap {
                display: none;

                .progress__bar {
                    display: none;
                }
            }

            /*.progress__wrap {
                display: flex;
                background: var(--progress-bar-wrap-color);
                background: transparent;
                overflow: hidden;
                position: relative;
                top: -27px;
                .progress__bar {
                    background: var(--progress-bar-color);
                    left: 0;
                    position: absolute;
                }
            }*/
        }
    }
}

h2.skills__lang {
    padding-top: 20px;
}

.skills_column_two {
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: -357px;
    padding-top: 0px !important;
    padding-left: 20px;

    .skill__text {
        z-index: 1;
        vertical-align: middle;
        padding-top: var(--spacing-0px);
        padding-bottom: var(--spacing-8px);
    }
}