.user {
    z-index: 2;
    position: relative;
    text-align: center;
    -moz-box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);
    -webkit-box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);
    box-shadow: 0px 8px 8px -9px var(--cursus-container-shadow);

    .avatar-container {
        margin-top: -30px;

        .user__avatar {
            width: 159px;
            height: 159px;
            border-radius: 50%;
            box-shadow: 0 3px 10px 1px var(--avatar-shadow);
            vertical-align: middle;
            justify-content: center;
            margin-bottom: 30px;
        }

        .user__avatar:hover {
            transform: scale(1.1);
        }
    }

    .user__infos {
        text-align: left;
        padding: var(--spacing-20px) 0 var(--spacing-6-5px) 0;

        a:hover {
            color: var(--link-active-color);
        }

        .user__info {
            display: flex;
            vertical-align: middle;
            margin-bottom: 10px !important;
            font-weight: 500;

            svg {
                margin-top: -8px !important;

                &:hover {
                    z-index: 3;
                    color: var(--svg-hover-color);
                    cursor: pointer;
                    zoom: 1.1;
                }
            }
        }
    }

    .user__job,
    .user__info {
        svg {
            color: var(--icon-color);
            margin-top: var(--spacing-6-5px) !important;
            margin-right: var(--spacing-20px);
            vertical-align: middle;
        }
    }

    .user__name {
        margin-top: 30px;

        svg {
            vertical-align: middle;
            margin-right: var(--spacing-20px);
        }
    }

    .user__name,
    .user__job {
        margin-left: -18px;
    }

    .user__cv_url {
        display: none !important;
    }

}

.dark .user__avatar {
    box-shadow: 0 3px 10px 1px var(--dark-avatar-shadow);
}

.dark .user__infos a:hover {
    color: var(--dark-link-active-color);
}

.user__info {
    display: flex;
}

.user__info svg {
    margin-top: -5px !important;
}

.user__job svg,
.user__name svg {
    margin-top: -2px !important;
}

.user__job svg,
.user__info svg {
    color: var(--icon-color);
    margin-right: var(--spacing-20px);
    vertical-align: middle;
}

.user__job svg {
    margin-right: var(--spacing-20px) !important;
}

.user__name svg {
    vertical-align: middle;
    margin-right: var(--spacing-20px);
}

.dark .user__info svg,
.dark .user__job svg {
    color: var(--dark-icon-color) !important;
}

.user__info>svg:hover {
    z-index: 3;
    display: block;
    color: var(--svg-hover-color);
    cursor: pointer;
}